<a href="https://colab.research.google.com/github/ellyisabirye/CV-in-making/blob/master/First_Python_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##***My first Python Code***##

***Arithmetic***

In [ ]:
3+9

12

In [ ]:
22/7

3.142857142857143

In [ ]:
22//7

3

In [ ]:
100%7

2

In [ ]:
5**3

125

In [ ]:
5000-(2265+2150)

585

In [ ]:
(0.2*1.25)*500

125.0

Now we look at solving problems while creating **VARIABLES**

In [5]:
cost_per_bag = 1.25

In [6]:
proft_margin = 0.2

In [7]:
number_of_bags = 500

In [8]:
profit_per_bag = cost_per_bag*proft_margin

In [9]:
profit_per_bag

0.25

In [10]:
profit_500_bags = profit_per_bag*500

In [11]:
profit_500_bags

125.0

In [ ]:
print("The grocery store makes USD",profit_500_bags,"from 500 bags")

The grocery store makes USD 125.0 from 500 bags

In [12]:
# You can now write multiple lines of code within 1 code cell 
unit_price = 1.25
profit_margin = 0.2
number_of_units = 500

# then the calculations

unit_profit = unit_price*profit_margin
total_profit = unit_profit*number_of_units

# Display the result
print("The grocery store makes USD",int(total_profit),"from 500 bags")

The grocery store makes USD 125 from 500 bags

Conditional Operators

In [15]:
# Here we can use oepartors like = < > != >= <= and these will return TRUE or FALSE

my_first_job = "Teaching Assistant"
my_second_job = "Business Analyst"
my_current_job ="Viewing Analyst"
my_next_job = "BI Analyst"
print(my_first_job)

Teaching Assistant

In [16]:
#The equality Check
my_first_job == "Teaching Assistant"

True

In [19]:
what = my_first_job != "Teaching Assistant"

In [20]:
type(what)

bool

In [ ]:
is_my_new_job = my_next_job == "BI Analyst"
print("is my new job BI Analyst,", is_my_new_job)

is my new job BI Analyst, True

In [3]:
# More examples

a = 20
b = 25
c = 30
is_a_greater_or_equal_to_b = a>=b
print("is a greater or equal to b, ",is_a_greater_or_equal_to_b)

is a greater or equal to b,  False

In [ ]:

# Combining conditional operators using AND, OR NOT, the Logical operators

a==b or b<c

True

In [ ]:
not a==b

True

# In Phython(While using Jupiter) one can use the Markdown format in order to be more organised for example;
* using # will help in making headers or simply increasing size of the text
* the '* ball' will help you make dotted lists, or you can use '1. ball'
* https://www.google.com/ will help you add a link

## Also one can use code blocks in Markdown

 # **Variables and Data Types in Python**

### Variables are used to store data/information which could be of different types. The data stored within a variable is called a value. 
* You can easily assign value to a variable by simply; my_fav_car = "volvo"
* The variable types may include: int, float, bool, str

In [21]:
my_fav_color = "blue"
my_fav_car = "volvo"
print("my favorite car is a", my_fav_color , my_fav_car)

my favorite car is a blue volvo

In [22]:
#One can also assign multiple values to multiple variables in a single line of code
color1, color2, color3 ="red","blue","white"
print(color2)

blue

In [23]:
#you can also assign one value to multple variables through a chain
color4=color5=color6 = "black"
print(color6)

black

In [24]:
#More variables
is_today_Saturday = False
the_3_musketeers = ["Athos", "Porthos", "Aramis"] #this is a list

In [25]:
# you can check the type of the varible using the type function

y=type(color1)
y

str

In [26]:
type(the_3_musketeers)

list

### Also with variable type float, one can convert this to int through a process known as casting

In [27]:
pi = 22/7 # pi = 3.14...... and is a float
int(pi) #then casting with int changes the variable type to an integer

3

In [29]:
float(a) #a=20 is an int but casting with float(a) will make it a float

20.0

In [33]:
# One should know that any value can be converted to a Boolean using the bool function. But only falsy values like False, 0, 0.0, None(empty value), empty text will convert to False.
# A value that evaluates to True is often called a truthy value
#Booleans automatically convert to int when used in arithmetic operations. True is converted to 1 and Falso to 0.
add_false = 5 + False
add_true = 5 + True
print(add_false,",",add_true)

5 , 6

### **String variables** 
A string represents text in Python. Strings must be surrounded using quotations, either double " " or single quotes ' '. Strings have the type *str*

In [36]:
today = 'Saturday'
type(today)

str

In [40]:
#If you have a single qote inside a string then sorround with double quotes and vice versa eg. 
Triangle3 = "Elly's triangle"
what_he_said = 'These were his words, "do not bring here here" '
# Three quotes at start and end will help write strings that span multiple lines e.g 
print(""" here we go
          again tomorrow
in Ohio""")

 here we go
          again tomorrow
in Ohio

The ***len*** function with help you establish the lenght of a value or variable. 
Note that a space in string is also counted as a charcter and contributes to its lenght

In [41]:
len(Triangle3)

15

You can also convert a string to a list by using the ***list*** function.

In [43]:
list(Triangle3)

['E', 'l', 'l', 'y', "'", 's', ' ', 't', 'r', 'i', 'a', 'n', 'g', 'l', 'e']

You can access a particular character in a string by providing its position say Triangle3[2] gives us the 2nd character in that string variable. Also, one can be able to access part of the string by provding a range e.g Triangle3[3:5]

In [44]:
Triangle3[3]

'y'

In [47]:
Triangle3[3:7]

"y's "

You can also check if a string contains a certain character or set of characters using ***in***

In [48]:
'Elly' in Triangle3

True

In [49]:
'Peter' in Triangle3

False