<a href="https://colab.research.google.com/github/ellyisabirye/CV-in-making/blob/master/First_Python_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##***My first Python Code***##

***Arithmetic***

In [176]:
3+9

12

In [177]:
22/7

3.142857142857143

In [178]:
22//7

3

In [179]:
100%7

2

In [180]:
5**3

125

In [181]:
5000-(2265+2150)

585

In [182]:
(0.2*1.25)*500

125.0

Now we look at solving problems while creating **VARIABLES**

In [183]:
cost_per_bag = 1.25

In [184]:
proft_margin = 0.2

In [185]:
number_of_bags = 500

In [186]:
profit_per_bag = cost_per_bag*proft_margin

In [187]:
profit_per_bag

0.25

In [188]:
profit_500_bags = profit_per_bag*500

In [189]:
profit_500_bags

125.0

In [190]:
print("The grocery store makes USD",profit_500_bags,"from 500 bags")

The grocery store makes USD 125.0 from 500 bags

In [191]:
# You can now write multiple lines of code within 1 code cell 
unit_price = 1.25
profit_margin = 0.2
number_of_units = 500

# then the calculations

unit_profit = unit_price*profit_margin
total_profit = unit_profit*number_of_units

# Display the result
print("The grocery store makes USD",int(total_profit),"from 500 bags")

The grocery store makes USD 125 from 500 bags

Conditional Operators

In [192]:
# Here we can use oepartors like = < > != >= <= and these will return TRUE or FALSE

my_first_job = "Teaching Assistant"
my_second_job = "Business Analyst"
my_current_job ="Viewing Analyst"
my_next_job = "BI Analyst"
print(my_first_job)

Teaching Assistant

In [193]:
#The equality Check
my_first_job == "Teaching Assistant"

True

In [194]:
what = my_first_job != "Teaching Assistant"

In [195]:
type(what)

bool

In [196]:
is_my_new_job = my_next_job == "BI Analyst"
print("is my new job BI Analyst,", is_my_new_job)

is my new job BI Analyst, True

In [197]:
# More examples

a = 20
b = 25
c = 30
is_a_greater_or_equal_to_b = a>=b
print("is a greater or equal to b, ",is_a_greater_or_equal_to_b)

is a greater or equal to b,  False

In [198]:

# Combining conditional operators using AND, OR NOT, the Logical operators

a==b or b<c

True

In [199]:
not a==b

True

# In Phython(While using Jupiter) one can use the Markdown format in order to be more organised for example;
* using # will help in making headers or simply increasing size of the text
* the '* ball' will help you make dotted lists, or you can use '1. ball'
* https://www.google.com/ will help you add a link

## Also one can use code blocks in Markdown

 # **Variables and Data Types in Python**

### Variables are used to store data/information which could be of different types. The data stored within a variable is called a value. 
* You can easily assign value to a variable by simply; my_fav_car = "volvo"
* The variable types may include: int, float, bool, str

In [200]:
my_fav_color = "blue"
my_fav_car = "volvo"
print("my favorite car is a", my_fav_color , my_fav_car)

my favorite car is a blue volvo

In [201]:
#One can also assign multiple values to multiple variables in a single line of code
color1, color2, color3 ="red","blue","white"
print(color2)

blue

In [202]:
#you can also assign one value to multple variables through a chain
color4=color5=color6 = "black"
print(color6)

black

In [203]:
#More variables
is_today_Saturday = False
the_3_musketeers = ["Athos", "Porthos", "Aramis"] #this is a list

In [204]:
# you can check the type of the varible using the type function

y=type(color1)
y

str

In [205]:
type(the_3_musketeers)

list

### Also with variable type float, one can convert this to int through a process known as casting

In [206]:
pi = 22/7 # pi = 3.14...... and is a float
int(pi) #then casting with int changes the variable type to an integer

3

In [207]:
float(a) #a=20 is an int but casting with float(a) will make it a float

20.0

In [208]:
# One should know that any value can be converted to a Boolean using the bool function. But only falsy values like False, 0, 0.0, None(empty value), empty text will convert to False.
# A value that evaluates to True is often called a truthy value
#Booleans automatically convert to int when used in arithmetic operations. True is converted to 1 and Falso to 0.
add_false = 5 + False
add_true = 5 + True
print(add_false,",",add_true)

5 , 6

### **String variables** 
A string represents text in Python. Strings must be surrounded using quotations, either double " " or single quotes ' '. Strings have the type *str*

In [209]:
today = 'Saturday'
type(today)

str

In [210]:
#If you have a single qote inside a string then sorround with double quotes and vice versa eg. 
Triangle3 = "Elly's triangle"
what_he_said = 'These were his words, "do not bring here here" '
# Three quotes at start and end will help write strings that span multiple lines e.g 
print(""" here we go
          again tomorrow
in Ohio""")

 here we go
          again tomorrow
in Ohio

The ***len*** function with help you establish the length of a value or variable. 
Note that a space in string is also counted as a character and contributes to its lenght

In [211]:
len(Triangle3)

15

You can also convert a string to a list by using the ***list*** function.

In [212]:
list(Triangle3)

['E', 'l', 'l', 'y', "'", 's', ' ', 't', 'r', 'i', 'a', 'n', 'g', 'l', 'e']

You can access a particular character in a string by providing its position say Triangle3[2] gives us the 2nd character in that string variable. Also, one can be able to access part of the string by providing a range e.g Triangle3[3:5]

In [213]:
Triangle3[3]

'y'

In [214]:
Triangle3[3:7]

"y's "

You can also check if a string contains a certain character or set of characters using ***in***

In [215]:
'Elly' in Triangle3

True

In [216]:
'Peter' in Triangle3

False

***concatenate*** will help you join two or more strings together using "**+**"

In [217]:
last_name = 'Isabirye'
first_name = 'Elly'
Full_name = (first_name + " " + last_name)
Full_name = str(Full_name)

***Methods*** in Python are functions associated with data types, and one accesses them using the **.** notation for example ***variable_name.method()***. 
When working with Strings, some methods that are commonly used are .lower(), .upper(), .capitalize()., .replace(), .split()

In [218]:
type(Full_name)

str

In [219]:
last_name.lower()

'isabirye'

In [220]:
Full_name.lower()

'elly isabirye'

In [221]:
poem ="this is the way that we were made"
poem.capitalize()

'This is the way that we were made'

In [222]:
'the seven days in the wilderness'.capitalize()

'The seven days in the wilderness'

In [223]:
# .replace(). So today = Saturday but the .replace() method will replace "Satur" with "Wednes"
another_day = today.replace("Satur","Wednes")
another_day

'Wednesday'

In [224]:
# to split a string into a list of strings based on a specified character then one uses the .split() method
"Sun,Mon,Tue,Wed".split(",")

['Sun', 'Mon', 'Tue', 'Wed']

In [225]:
# The .strip() method works just like trim in excel to remove whitespace characters from the beginning and end of a string
Rating = "   Isaac's rating was one of the best we had seen in years "
Rating = Rating.strip()
print(Rating)

Isaac's rating was one of the best we had seen in years

In [226]:
# Another one is the .format() method which is used to combine values of other data types e,g integers, floats, booleans, lists etc. with strings.
unit_price = 1.25
profit_margin = 0.2
number_of_bags = 500
#Template for out put message
output_template = """If a grocery store sells icebags at $ {} per bag, with a profit margin of {} % then the total profit it makes selling {} icebags is $ {}."""
print(output_template)

If a grocery store sells icebags at $ {} per bag, with a profit margin of {} % then the total profit it makes selling {} icebags is $ {}.

In [227]:
#Inserting values into the string
total_profit = unit_price * profit_margin * number_of_bags
output_message = output_template.format(unit_price,profit_margin*100,number_of_bags,total_profit)
print(output_message)

If a grocery store sells icebags at $ 1.25 per bag, with a profit margin of 20.0 % then the total profit it makes selling 500 icebags is $ 125.0.

# List
A ***List*** in Python is an ordered collection of values. Lists can hold values of different data types, support operations to add, remove and change values. Lists have the type ***list***

In [246]:
fruits = ['apple','banana','cherry']
type(fruits)

list

In [229]:
#We can also create a list containing values of different data types, including another list

In [247]:
a_list =[23,'hello',None,3.14,fruits,3<=5]
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [248]:
# A list can alos be empty e.g
empty_list = []

In [249]:
#The len function will help you determine the number of values in a list
len(a_list)

6

In [250]:
# One can also acces the elements in a list using the index of the element, starting from index 0
fruits[0]

'apple'

In [251]:
fruits[2]

'cherry'

In [252]:
a_list[1]

'hello'

In [253]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

In [254]:
a_list[2:]

[None, 3.14, ['apple', 'banana', 'cherry'], True]

In [255]:
a_list[:4]

[23, 'hello', None, 3.14]

Lists can also be modified in case you want to assign a new element to replace an old one in the list. fruits[1] ='blueberry' will replace 'banana' in the list

In [256]:
fruits[1] ='blueberry'
fruits

['apple', 'blueberry', 'cherry']

the ***.append()*** will help you add a new value to the end of a list

In [257]:
fruits.append('mango')
fruits

['apple', 'blueberry', 'cherry', 'mango']

You can also insert an element usin the ***.insert()*** method for example fruits.insert(1,'banana') will insert banana to be in index 1 in the fruits list

In [258]:
fruits.insert(1,'banana')
fruits

['apple', 'banana', 'blueberry', 'cherry', 'mango']

In [259]:
type(fruits)

list

Use ***.remove()*** to remove a value from a list

In [261]:
fruits.remove('cherry')

In [262]:
fruits

['apple', 'banana', 'blueberry', 'mango']

But to remove a value from a particular index then use ***.pop()***

In [263]:
fruits.pop(2)
fruits

['apple', 'banana', 'mango']

the ***in*** operator is used similar to strings

In [264]:
'apple' in fruits

True

In [265]:
'papaya' in fruits

False

We can also us ***+*** to concatenate two or more lists

In [266]:
more_fruits = fruits +['papaya','pineappple']
more_fruits

['apple', 'banana', 'mango', 'papaya', 'pineappple']

#Tuple
A tuple is an ordered collection of values , similar to a list, however it is not possible to add, remove or modify values in a tuple. We create a tuple by enclosing values within parentheses( and), sparated by commas. Tuples are immutable list sinces they can not be modified after they are created.

In [269]:
fruits2 = ('apple','cherry','dates')
type(fruits2)

tuple

In [270]:
len(fruits2)

3

In [271]:
fruits2[2]

'dates'

In [272]:
fruits2[-2]

'cherry'

#Dictionary
Is an unordered collection of items. Each item stored in a dictionary has a key and value. Key is used to retrieve values from the dictionry. dictionaries have the type ***dict***

Dictionaries are often used to store many pieces of information e.g detaila about a person, in a sinle variable. Dictionaries are created by enclosing key-value pairs within curly brackets { and }.

In [273]:
person1 = {
    'name' : 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
} # for example, name is the key and John Doe is the value

In [274]:
person1

{'age': 32, 'married': True, 'name': 'John Doe', 'sex': 'Male'}

You could chose to create a dictionary using the ***dict*** function

In [277]:
person2 = dict(name='Jane Judy', sex='Female', age = 28, married = False)
person2

{'age': 28, 'married': False, 'name': 'Jane Judy', 'sex': 'Female'}

To access a vale from the dictionary  then you do this by providing a key e.g person1['age']

In [279]:
person2['age']

28

Or you can use the ***.get*** method

In [280]:
person1.get('name')

'John Doe'

In [282]:
person1.keys() #Will return the keys in this dictionary

dict_keys(['name', 'sex', 'age', 'married'])

In [283]:
person2.values() #All the values

dict_values(['Jane Judy', 'Female', 28, False])

In [284]:
person1.items() #All the items

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])